<section class="page">

<header> </header>
<h1>Welcome back to Music...fy. We're superior to Spotify. Login now!</h1>

<form action="<%= sessions_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="Email Address"> Email Address:
      <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>
  <br>
    <label for="Password"> Password:
      <input type="text" name="user[password]" value="<%= @user.password %>">
    </label>
  <br>
  <input type="submit" value="Login">
</form>


</section>
